
/*:root {
	--body-color: #2c2d2a;
	--savanna-bg: #e9bf8b;
	--beach-bg: #e7dfcf;
	--glacier-bg: #b6d6c8;
	--coral-bg: #e86357;
	--arrow-fill: #333231;
	--body-font: "Montserrat", sans-serif;
	--italic-font: "EB Garamond", serif;
}*/

* {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
footer {
  background-color: #a72c0a;
  color: white;
  font-size: 18px;
  padding: 20px;
  
}

.footer-top {
  display: grid;
  gap: 60px;
}

.footer-list-title,
.footer-text {
  margin-block-end: 15px;
}

.contact-item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 10px;
}

.contact-item:not(:last-child) {
  margin-block-end: 15px;
}

.contact-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.footer-list-item {
  display: flex;
  align-items: left;
  gap: 10px;
  margin-block-start: 15px;
}

.footer-list:not(.social-list) ion-icon {
  font-size: 14px;
}

.footer-bottom {
  padding-block: 35px;
 /* text-align: center;
  border-block-start: 1px solid var(--cultured_20);*/
}

.side-bar{
  background:white;
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 6;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: rgb(236, 150, 150);
  transition: 0.3s ease;

}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{

  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: rgba(255,255,255 , 0.1);
  display:none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #000000;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}

/*SOBRE A FONTE (A+ E A-)*/
.titulo-header{
  font-size: 20px;
}

#btnAumentar{
  color: #fff;
  font-size: 30PX;
}

#btnDiminuir{
  color: #fff;
}




/* MODO NOTURNO */
.dark {
  background-color: #263238;
  color: #fff;
}

.dark header{
  background-color: #171e21;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 2rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #810303;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 60px;
  color: #fff;
  z-index: 7;
}


.dark main{
  background-color: #263238;
}

.dark .about-subtitle{
  color: #eca2a2;
}

.dark .bi-sun {
  display: none;
}

.dark #title{
  color: #ff0202;}

.dark .bi-moon {
  display: block;
}

.dark .menu-btn {
  color: #fff;
}

.dark .close-btn{
  color: #fff;
}

.dark .side-bar{
  background-color: #5f5f5f;
}

.dark .side-bar .menu .item a:hover{
  background-color: #353535;
}

.dark .side-bar .menu .item a{
  color: #fff;
}

.dark footer{
  background-color: #171e21;
}




.menu-btn{
  position: fixed;
  color: #ffffff;
  font-size: 20px;
  margin: 25px;
  cursor:pointer;
  z-index: 6;
}

:root{
    --hoockers-green_20: hsl(148, 20%, 38%, 0.2);
    --pale-spring-bud: hsl(60, 68%, 85%);
  --hoockers-green: hsl(148, 20%, 38%);
  --spanish-gray: hsl(0, 0%, 61%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured-1: hsl(0, 0%, 97%);
  --cultured-2: hsl(60, 6%, 93%);
  --gray-web: hsl(0, 0%, 49%);
  --white_30: hsl(0, 0%, 100%, 0.3);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --black_50: hsla(0, 0%, 0%, 0.5);
  --black_15: hsla(0, 0%, 0%, 0.15);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_5: hsla(0, 0%, 0%, 0.05);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * gradient color
   */

  --gradient: linear-gradient(to right, transparent 50%, var(--white_30) 100%);

  /**
   * typography
   */

  --ff-urbanist: 'Urbanist', sans-serif;

  --fs-1: 4.8rem;
  --fs-2: 4rem;
  --fs-3: 3.4rem;
  --fs-4: 2.4rem;
  --fs-5: 2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  --fs-9: 1.3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * spacing
   */

  --section-padding: 35px;

  /**
   * shadow
   */

  --shadow-1: 0 8px 16px var(--black_15);
  --shadow-2: 0 4px 10px var(--black_5);

  /**
   * radius
   */

  --radius-3: 3px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}







/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
input,
button,
ion-icon { display: block; }

.span{
  display: block;
  color: (--white);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a span{
  color: rgb(231, 212, 212);
}

#title{
  font-size: 60px;
  color: #810d0d;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon {
  pointer-events: none;
  --ionicon-stroke-width: 25px;
}

html {
  font-family: var(--ff-urbanist);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(rgb(218, 203, 203), rgb(207, 204, 204));
  color: var(--gray-web);
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  line-height: 1.6;
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 95%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding); }

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h1,
.h3,
.h2-large {
  color: var(--black);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
}

.h2 { 
  font-size: 50px; 
  color: var(--white);
}

.h2-large { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-4); }

.btn {
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: 10px 30px;
  border-radius: var(--radius-3);
  transition: var(--transition-1);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) {
  background-color: var(--black);
  color: var(--white);
}

.btn-primary:is(:hover, :focus) { background-color: var(--hoockers-green); }

.btn-secondary {
  background-color: var(--white);
  color: var(--black);
  box-shadow: var(--shadow-2);
}

.has-scrollbar {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-block-end: 15px;
  margin-block-end: -15px;
  scroll-snap-type: inline mandatory;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track,
.has-scrollbar::-webkit-scrollbar-thumb { background-color: transparent; }

.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

.has-scrollbar:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 70%);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.hover\:shine { overflow: hidden; }

.hover\:shine .has-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: var(--transition-2);
}

.hover\:shine:is(:hover, :focus) .has-bg-image { transform: scale(1.15); }

.hover\:shine::before {
  top: 0;
  left: -140%;
  bottom: 0;
  width: 100%;
  background-image: var(--gradient);
  transform: skewX(-25deg);
  transition: var(--transition-2);
  z-index: 1;
}

.hover\:shine:is(:hover, :focus-within)::before { animation: shine 1s ease forwards; }

@keyframes shine {
  0% { transform: skewX(-25deg) translateX(0); }
  100% { transform: skewX(-25deg) translateX(250%); }
}

.btn-link {
  color: var(--black);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  max-width: max-content;
  background-color: var(--hoockers-green);
  color: var(--white);
  font-weight: var(--fw-700);
  padding-inline: 12px;
  border-radius: var(--radius-3);
}

.flex-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.w-100 { width: 100%; }

[data-section] > * {
  transform: translateY(100px);
  opacity: 0;
  transition: var(--transition-3);
}

[data-section].active > * {
  transform: translateY(0);
  opacity: 1;
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .input-wrapper,
.header-action-btn:not(:first-child),
.navbar { display: none; }

.header {
  position: relative;
  padding-block-end: 80px;
}

.header-top {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 26px;
  z-index: 4;
}

.header-top.active {
  position: fixed;
  top: -80px;
  bottom: auto;
  box-shadow: var(--shadow-1);
  transform: translateY(100%);
  transition: var(--transition-2);
}

.header-top.header-hide {
  box-shadow: none;
  transform: translateY(0);
}

.header-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-open-btn {
  width: 26px;
  display: grid;
  gap: 6px;
  padding-block: 5px;
}

.nav-open-btn .line {
  height: 2px;
  background-color: var(--black);
}

.nav-open-btn .line-1 { width: 15px; }

.nav-open-btn .line-3 { width: 18px; }

.header-action-btn {
  font-size: 28px;
  transition: var(--transition-1);
}

.header-action-btn:is(:hover, :focus) { color: var(--black_70); }





/*-----------------------------------*\
  #MOBILE NAVBAR
\*-----------------------------------*/

.sidebar { z-index: 5; }

.mobile-navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 350px;
  width: 100%;
  padding: 25px 40px;
  z-index: 6;
  transform: translateX(-100%);
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.mobile-navbar.active {
  visibility: visible;
  transform: translateX(0);
  transition: 0.4s var(--cubic-out);
}

.mobile-navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 55px;
}

.nav-close-btn {
  font-size: 28px;
  color: var(--hoockers-green);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 40px; }

.mobile-navbar .navbar-link {
  color: var(--black);
  font-size: var(--fs-8);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  padding-block: 5px;
  transition: var(--transition-1);
}

.mobile-navbar .navbar-link:is(:hover, :focus) { color: var(--hoockers-green); }

.overlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
  transition: var(--transition-1);
}

.overlay.active {
  background-color: var(--black_50);
  pointer-events: all;
}





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero { padding-block-start: 0; }

.hero-card {
  background-color: var(--light-gray);
  padding: 100px 15px;
  background-position: 40%;
}

.hero-text {
  font-size: var(--fs-6);
  margin-block: 16px 30px;
}

.hero .price {
  color: var(--black);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-block-end: 20px;
}

.hero .scrollbar-item { min-width: 100%; }





/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/


.collection { padding-block-start: 0; }

.collection-list {
  display: grid;
  gap: 15px;
}

.collection-card {
  background-color: var(--light-gray);
  min-height: 400px;
  padding: 40px;
  padding-block-end: 30px;
  display: flex;
  flex-direction: column;
}

.collection-card .card-title { margin-block-end: 12px; }


.collection-card .card-text {
  color: var(--white);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  margin-block-end: auto;
}




@media (min-width: 575px) {

    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    :is(.header, .hero) .container { max-width: unset; }
  
    .has-scrollbar { gap: 30px; }
  
    .scrollbar-item { min-width: calc(50% - 15px); }
  
  
  
    /**
     * HEADER
     */
  
    .alert { padding-block: 8px; }
  
    .header-top .container { padding-inline: 30px; }
  
  
  
    /**
     * HERO
     */
  
    .hero-card { padding-inline: 70px; }
  
    .hero-text { max-width: 30ch; }
  
  
  
    /**
     * BANNER
     */
  
    .banner-card .card-text { max-width: 30ch; }
  
  
  
    /**
     * OFFER
     */
  
    .offer .countdown { --fs-2: 4.8rem; }
  
    .offer .countdown .time:not(:last-child)::after { margin-inline: 20px; }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 5.6rem;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 730px; }
  
    .flex-item { max-width: calc(50% - 15px); }
  
  
  
    /**
     * COLLECTION
     */
  
    .collection-card { min-height: 450px; }
  
  
  
    /**
     * BANNER
     */
  
    .banner-list { grid-template-columns: 1fr 0.7fr; }
  
    .banner-card { padding: 50px; }
  
  

  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 50px;
  
    }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 960px; }
  
    .scrollbar-item { min-width: calc(33.33% - 20px); }
  
    .flex-item { max-width: calc(33.33% - 20px); }
  
  
  
    /**
     * COLLECTION
     */
  
    .collection-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  


  
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1300px; }
  
    .scrollbar-item { min-width: calc(20% - 24px); }
  
  
  
    /**
     * HEADER
     */
  
    .header .input-wrapper,
    .header-action-btn:not(:first-child),
    .navbar { display: block; }
  
    .nav-open-btn { display: none; }
  
    .header {
      padding-block-end: 60px;
      margin-block-end: 10px;
    }
  
    .header-top {
      position: unset;
      padding-block: 24px 0;
    }
  
    .header-top:is(.active, .header-hide) { all: unset; }
  
    .header-top .container { flex-wrap: wrap; }
  
    .search-field {
      width: 270;
      font-size: var(--fs-7);
      border: 2px solid var(--hoockers-green_20);
      border-radius: var(--radius-3);
      padding: 10px 20px;
      padding-inline-end: 40px;
      outline: none;
      transition: var(--transition-1);
    }
  
    .search-field::placeholder { color: var(--spanish-gray); }
  
    .search-field:focus { border-color: var(--black); }
  
    .header .input-wrapper { position: relative; }
  
    .header .search-submit {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 22px;
    }
  
    .header .search-submit ion-icon { --ionicon-stroke-width: 40px; }
  
    .header .logo { margin-inline-end: 60px; }
  
    .header-actions {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  
    .header-action-btn { position: relative; }
  
    .header-action-btn .btn-badge {
      position: absolute;
      top: 0;
      right: -10px;
      background-color: var(--black);
      color: var(--white);
      font-size: var(--fs-9);
      min-width: 18px;
      height: 18px;
      line-height: 1.4;
      border-radius: 20px;
    }
  
    .header-action-btn:last-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .header-action-btn .btn-text {
      font-size: var(--fs-7);
      font-weight: var(--fw-700);
      margin-block-start: 3px;
    }
  
    .navbar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: var(--white);
      padding-block: 18px;
      z-index: 4;
    }
  
    .navbar .navbar-list {
      display: flex;
      justify-content: center;
      gap: 45px;
    }
  
    .navbar .navbar-link {
      color: var(--black);
      font-size: var(--fs-7);
      font-weight: var(--fw-600);
    }
  
    .navbar .navbar-link::after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--black);
      transition: var(--transition-1);
      transform: scaleX(0);
      transform-origin: left;
    }
  
    .navbar .navbar-link:is(:hover, :focus)::after {
      transform: scaleX(1);
    }
  
    .header-top.active .navbar {
      position: fixed;
      top: -80px;
      bottom: auto;
      padding-block: 28px;
      box-shadow: var(--shadow-1);
      transform: translateY(100%);
      transition: var(--transition-2);
    }
  
    .header-top.header-hide .navbar {
      box-shadow: none;
      transform: translateY(0);
    }
  
  
  
    /**
     * HERO
     */
  
    .hero-card { padding: 120px 100px; }
  
    .hero-text { max-width: 40ch; }
  }
  }
}
