*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 2rem;
  cursor: pointer;
}

.bi-moon {
  display: none;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #810303;
  box-shadow: 0.5px 0.5px 10px 0.5px #000;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  height: 60px;
  color: #fff;
  z-index: 7;
}

main {
  display: flex;
  justify-content: center;
}

/*SOBRE A FONTE (A+ E A-)*/
.titulo-header{
  font-size: 20px;
}

#btnAumentar{
  color: #fff;
}

#btnDiminuir{
  color: #fff;
}



/* MODO NOTURNO */
.dark {
  background-color: #263238;
  color: #fff;
}

.dark header{
  background-color: #171e21;
  color: #fff;
}


.dark main{
  background-color: #263238;
}

.dark .about-subtitle{
  color: #eca2a2;
}

.dark .bi-sun {
  display: none;
}


.dark .bi-moon {
  display: block;
}

.dark .menu-btn {
  color: #fff;
}

.dark .close-btn{
  color: #fff;
}

.dark .side-bar{
  background-color: #5f5f5f;
}

.dark .side-bar .menu .item a:hover{
  background-color: #353535;
}

.dark .side-bar .menu .item a{
  color: #fff;
}

.dark footer{
  background-color: #171e21;
}


/* ************
      CAPA
*/

.fundo{
      width: 100vw;
      height: 100vh;
      background-image: linear-gradient(rgba(30, 18, 4, 0.479), rgba(30, 17, 4, 0.39)), url("./img/capa-dengue.png");
      background-position: bottom;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-decoration: none;
}

.fundo h1{
    color: #fff;
}
  
.header-content{
    margin-bottom: 150px;
    color:antiquewhite;
    text-align: center;
  
}
  
.header-content h1{
  
    font-size: 12vmin;
}

.line{
    width: 200px;
    height: 4px;
    background: #810303;
    margin: 10px auto;
    border-radius: 5px;
    color: #fff;
}



/* ************
      MENU
*/

.side-bar{
  background: #fff;
  backdrop-filter:blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top:0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  z-index: 6;
}

.side-bar.active{
  left: 0;
}

.side-bar .menu{
  width: 100%;
  margin-top: 80px;
}

.side-bar .menu .item{
  position:relative;
  cursor:pointer;
}

.side-bar .menu .item a{
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover{
  background: #eebaba;
  transition: 0.3s ease;

}

.side-bar .menu .item i{
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown{

  position: absolute;
  right:0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
  background: #fff;
  display:none;
}

.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
}

.rotate{
  transform: rotate(90deg);
}

.close-btn{
  position: absolute;
  color: #000000;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}


.menu-btn{
  color: #fff;
  font-size: 20px;
  margin: 0px;
  cursor:pointer;
  z-index: 6;
}


/*PARA O "LEIA MAIS" DOS AGENTES*/

.collapsible {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active2:after {
  content: "\2212";
}

.content2 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.content1 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #a56161;
}

#ref{ 
  background-color: #942f2f;
  margin: 50px;
  width: 300px;
}

#ref-par{
  color: #fff;
}

.dark #ref{
  background-color: #000000;
}

.dark .content1{
  background-color: #2e2929;
}

.logo{
  display: block;
  margin: 0 auto;
}


/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
       * menu
       */
  
    --main-color: #bb4434;
    --lighter-color: #f7f7ff;
    --dark-color: #530d0d;
  
      /**
       * colors
       */
    
      --medium-spring-green: hsl(0, 79%, 24%);
      --red-orange-creyola: hsl(0, 100%, 68%);
      --caribbean-green: #eb6a6a;
      --oxford-blue_50: hsla(213, 56%, 61%, 0.5);
      --oxford-blue_70: hsla(213, 64%, 69%, 0.7);
      --prussian-blue: hsl(210, 100%, 20%);
      --oxford-blue: hsl(212, 21%, 14%);
      --orange-peel: hsl(37, 100%, 50%);
      --cultured_20: hsla(206, 23%, 94%, 0.2);
      --winter-sky: hsl(341, 100%, 60%);
      --light-gray: hsl(0, 0%, 80%);
      --malachite: hsl(120, 70%, 59%);
      --indigo-dye: hsl(213, 81%, 25%);
      --dim-gray: hsl(0, 0%, 41%);
      --black_20: hsla(0, 0%, 0%, 0.2);
      --silver: hsl(0, 0%, 76%);
      --black: hsl(0, 0%, 0%);
      --white: hsl(0, 0%, 100%);
    
      /**
       * typography
       */
    
      --ff-roboto: "Roboto", sans-serif;
    
      --fs-1: 3rem;
      --fs-2: 2.4rem;
      --fs-3: 2rem;
      --fs-4: 1.8rem;
      --fs-5: 1.5rem;
      --fs-6: 1.4rem;
    
      --fw-500: 500;
      --fw-700: 700;
    
      /**
       * spacing
       */
    
      --section-padding: 100px;
    
      /**
       * shadow
       */
    
      --shadow-1: 0 0 10px hsla(0, 0%, 0%, 0.1);
      --shadow-2: 0 5px 10px hsla(0, 0%, 100%, 0.2);
      --shadow-3: 0 0 24px hsla(341, 100%, 60%, 0.3);
    
      /**
       * border radius
       */
    
      --radius-circle: 50%;
      --radius-pill: 200px;
      --radius-6: 6px;
    
      /**
       * transition
       */
    
      --transition-1: 0.25s ease;
      --transition-2: 0.5s ease;
      --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    
    }
    
  
    
  *{
    margin: 0;
    padding: 0;
  }
  
  *, ::before, ::after{
    box-sizing: border-box;
  }
  
  body{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  ul{
    list-style: none;
  }
  
  .container{
    max-width: 100%;
    margin: 0 auto;
  }
  
  
    
    
    /*-----------------------------------*\
      #RESET
    \*-----------------------------------*/
    
    *,
    *::before,
    *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    li { list-style: none; }
    
    a,
    img,
    span,
    button,
    ion-icon { display: block; }
    
    a {
      color: inherit;
      text-decoration: none;
    }
    
    img { height: auto; }
    
    button {
      background: none;
      border: none;
      font: inherit;
      cursor: pointer;
    }
    
    ion-icon { pointer-events: none; }
    
    address { font-style: normal; }
    
    html {
      font-family: var(--ff-roboto);
      font-size: 10px;
      scroll-behavior: smooth;
    }
    
    body {
      background: linear-gradient(to right, #dfddddea, #e2cfcf);
      color: var(--oxford-blue);
      font-size: 1.6rem;
      line-height: 1.5;
      overflow-x: hidden;
    }
    
    body.active { overflow-y: hidden; }
    
    :focus-visible { outline-offset: 4px; }
    
    ::-webkit-scrollbar { width: 10px; }
    
    ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
    
    ::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
    
    ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
    
    
    
    
    
    /*-----------------------------------*\
      #REUSED STYLE
    \*-----------------------------------*/
    
    .container { padding-inline: 15px; }
    
    .section { padding-block: var(--section-padding); }
    
    .has-bg-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
    .h1,
    .h2,
    .h3,
    .h4 { line-height: 1.4; }
    
    .h1 { font-size: var(--fs-2); }
    
    .h4 { font-size: var(--fs-4); }
    
    .btn {
      font-size: var(--fs-6);
      font-weight: var(--fw-700);
      text-transform: uppercase;
      max-width: max-content;
      border: 2px solid var(--white);
      padding: 18px 25px;
      border-radius: var(--radius-pill);
      transition: var(--transition-1);
    }
    
    .btn-primary:is(:hover, :focus) { box-shadow: var(--shadow-2); }
    
    .w-100 { width: 100%; }
    
    .text { font-size: var(--fs-5); }
    
    .img-holder {
      aspect-ratio: var(--width) / var(--height);
      background-color: var(--light-gray);
      overflow: hidden;
    }
    
    .section-text { margin-block: 15px 35px; }
    
    .grid-list {
      display: grid;
      gap: 30px;
    }
    
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: var(--transition-2);
    }
    
    
    
    
  
    
    /*-----------------------------------*\
      #ABOUT
    \*-----------------------------------*/
    

    .about .container {
      display: grid;
      gap: 30px;
    }
    
    .about-subtitle {
      font-size: var(--fs-4);
      color: var(--medium-spring-green);
    }
    
    .about .section-text { margin-block: 8px 15px; }
    
    .about-list { margin-block-start: 30px; }
    
    .about-item {
      display: flex;
      align-items: flex-start;
      gap: 15px;
      padding-block: 15px;
    }
    
    .about .item-img {
      flex-shrink: 0;
      border-radius: var(--radius-circle);
    }
    
    .about .item-title { margin-block-end: 5px; }
    
    
    
    
    
    /*-----------------------------------*\
      #SERVICE
    \*-----------------------------------*/
    
    .service { 
      text-align: center;
      margin: 0px; 
    }
    
    .service-list {
      display: grid;
      gap: 10px;
    }

    
    .service-card {
      background-color: #d8825ab9;
      padding: 20px;
      border-radius: var(--radius-6);
      transition: var(--transition-1);
    }
    
    .service-card .card-banner {
      max-width: max-content;
      margin-inline: auto;
      border-radius: var(--radius-circle);
    }
    
    .service-card .card-banner img { width: 95px; }
    
    .service-card .card-title { margin-block: 20px 5px; }
    
    .service-card :is(.card-title, .card-text) { transition: var(--transition-1); }
    
    .service-card:hover {
      background-color: var(--white);
      transform: translateY(-5px);
    }
    
    .service-card:hover .card-title { color: var(--black); }
    
    .service-card:hover .card-text { color: var(--dim-gray); }
    
    
    
    
    
    /*-----------------------------------*\
      #DOCTOR
    \*-----------------------------------*/
    
    .doctor :is(.section-title, .section-text) { text-align: center; }
    
    .doctor-card {
      background-color: var(--main-color);
      color: #f7f7ff;
      padding: 10px;
    }
    
    .doctor-card:is(:hover, :focus-within) .img-cover { transform: scale(1.05); }
    
    .doctor-card .card-content { padding: 20px; }
    
    .doctor-card .card-subtitle { margin-block: 5px 10px; }
    
    .doctor-card .card-text {
      border-block-start: 1px solid var(--cultured_20);
      padding-block-start: 15px;
      margin-block-end: 20px;
    }
    
    .doctor-card .card-item {
      border: 1px solid var(--cultured_20);
      display: flex;
      align-items: center;
    }
    
    .doctor-card .card-item:last-child { border-block-start: none; }
    
    .doctor-card .card-item .icon-box {
      color: var(--silver);
      padding: 22px;
      border-inline-end: 1px solid var(--cultured_20);
    }
    
    .doctor-card .card-item .span {
      margin-inline: 15px;
      padding-block: 5px;
      word-break: break-all;
    }
    
    
    
    
    
    /*-----------------------------------*\
      #SAFETY
    \*-----------------------------------*/
    
    .safety .section-text { margin-block-end: 55px; }
    
    .safety { text-align: center; }
    
    .safety-list {
      display: grid;
      gap: 50px;
    }
    
    .safety-item { position: relative; }
    
    .safety-item .item-banner {
      max-width: max-content;
      border-radius: var(--radius-circle);
      margin-inline: auto;
      margin-block-end: 20px;
    }
    
    .safety-item .number {
      position: absolute;
      top: -21px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--caribbean-green);
      display: grid;
      place-items: center;
      width: 42px;
      height: 42px;
      border-radius: var(--radius-circle);
      border: 3px solid var(--oxford-blue);
      font-weight: var(--fw-700);
    }
    
    
    
    
    
    /*-----------------------------------*\
      #BLOG
    \*-----------------------------------*/
    
    .blog { background-color: var(--indigo-dye); }
    
    .blog :is(.section-title, .section-text) { text-align: center; }
    
    .blog-card :is(.card-content, .card-footer) {
      background-color: var(--prussian-blue);
      padding: 20px;
    }
    
    .blog-card .card-title { transition: var(--transition-1); }
    
    .blog-card .card-title:is(:hover, :focus) { color: var(--winter-sky); }
    
    .blog-card .card-meta { margin-block: 15px; }
    
    .blog-card .card-meta .wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      padding-block: 2px;
    }
    
    .blog-card .card-footer { border-block-start: 1px solid var(--cultured_20); }
    
    .btn-link { font-weight: var(--fw-700); }
    
    
    
    
    
    /*-----------------------------------*\
      #FOOTER
    \*-----------------------------------*/
    
    footer{
      padding: 20px;
      background-color: #810303;
      color: #fff;
    }

    .footer-top {
      display: grid;
      gap: 60px;
    }
    
    .footer-list-title,
    .footer-text { margin-block-end: 15px; }
    
    .contact-item {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 10px;
    }
    
    .contact-item:not(:last-child) { margin-block-end: 15px; }
    
    .contact-title {
      font-size: var(--fs-5);
      font-weight: var(--fw-700);
    }
    
    .footer-list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-block-start: 15px;
    }
    
    .footer-list:not(.social-list) ion-icon { font-size: 14px; }
    
    .footer-bottom {
      padding-block: 35px;
      text-align: center;
      border-block-start: 1px solid var(--cultured_20);
    }
    
    
    
    
    
    /*-----------------------------------*\
      #BACK TO TOP
    \*-----------------------------------*/
    
    .back-top-btn {
      position: fixed;
      bottom: 10px;
      right: 20px;
      background-color: var(--winter-sky);
      font-size: 18px;
      padding: 12px;
      border-radius: var(--radius-circle);
      opacity: 0;
      visibility: hidden;
      transition: var(--transition-1);
      z-index: 4;
    }
    
    .back-top-btn.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
    
    
    
    
    
    /*-----------------------------------*\
      #MEDIA QUERIES
    \*-----------------------------------*/
    
    /**
     * responsive for large than 575px screen
     */
    
    @media (min-width: 575px) {
    
      /**
       * CUSTOM PROPERTY
       */
    
      :root {
    
        /**
         * typography
         */
    
        --fs-2: 3.6rem;
        --fs-3: 2.4rem;
    
      }
    
    
    
      /**
       * REUSED STYLE
       */
    
      .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
      }
    
      .h2 { font-size: var(--fs-1); }
    
      .h4 { --fs-4: 2rem; }
    
      .text { font-size: unset; }
    
    
    
      /**
       * HERO
       */
    
      .hero-list { max-width: 275px; }
    
    
    
      /**
       * SAFETY, FOOTER
       */
    
      .safety-list,
      .footer-top { grid-template-columns: 1fr 1fr; }
    
    }
    
    
    
    
    
    /**
     * responsive for large than 768px screen
     */
    
    @media (min-width: 768px) {
    
      /**
       * REUSED STYLE
       */
    
      .container { max-width: 720px; }
    
      .grid-list { grid-template-columns: 1fr 1fr; }
    
    
    
      /**
       * HERO
       */
    
      .hero .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    
    
    
      /**
       * ABOUT
       */
    
      .about-banner { max-width: max-content; }
    
    
    
      /**
       * SERVICE
       */
    
      .service-list { grid-template-columns: 1fr 1fr; }
    
    }
    
    
    
    
    
    /**
     * responsive for large than 992px screen
     */
    
    @media (min-width: 992px) {
    
      /**
       * CUSTOM PROPERTY
       */
    
      :root {
    
        /**
         * typography
         */
    
        --fs-2: 6rem;
    
      }
    
    
      /**
       * REUSED STYLE
       */
    
      .container { max-width: 960px; }
    
      .grid-list { grid-template-columns: 1fr 1fr; }
    
      .section-text {
        max-width: 70ch;
        margin-inline: auto;
      }
    
    
    
      /**
       * HEADER
       */
    
      .nav-toggle-btn { display: none; }
    
      .header {
        background-color: transparent;
        box-shadow: none;
        padding-block: 20px;
      }
    
      .header.active {
        background-color: var(--oxford-blue);
        box-shadow: var(--shadow-1);
      }
    
      .navbar,
      .navbar.active {
        all: unset;
        display: block;
      }
    
      .navbar-list {
        display: flex;
        gap: 40px;
      }
    
      .navbar-item:not(:last-child) { border: none; }
    
      .header .btn {
        display: block;
        padding-inline: 40px;
      }
    
      .header .btn:is(:hover, :focus) { box-shadow: var(--shadow-3); }
    
    
    
      /**
       * ABOUT
       */
    
      .about .container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
      }
    
      .about-banner.order-1 { order: 1; }
    
    
    
      /**
       * SERVICE
       */
    
      .service-card {
        display: flex;
        align-items: flex-start;
        text-align: left;
        gap: 10px;
        padding: 30px;
      }
    
      .service-card .card-banner { flex-shrink: 0; }
    
      .service-card .card-title { margin-block: 0 10px; }
    
    
    
      /**
       * SAFETY
       */
    
      .safety-list { grid-template-columns: repeat(3, 1fr); }
    
    
    
      /**
       * FOOTER
       */
    
      .footer-top { grid-template-columns: 1fr 0.5fr 0.5fr 0.75fr; }
    
    }
    
    
    
    
    
    /**
     * responsive for large than 1200px screen
     */
    
    @media (min-width: 1200px) {
    
      /**
       * CUSTOM PROPERTY
       */
    
      :root {
    
        /**
         * typography
         */
    
        --fs-1: 3.6rem;
    
      }
    
    
    
      /**
       * REUSED STYLE
       */
    
      .container { max-width: 1200px; }
    
      .section-text {
        max-width: 75ch;
        margin-block-end: 60px;
      }
    
      .grid-list { grid-template-columns: repeat(3, 1fr); }
    
    
    
      /**
       * HEADER
       */
    
      .navbar { margin-inline: auto 40px; }
    
    
    
      /**
       * HERO
       */
    
      .hero .counter { --fs-2: 8rem; }
    
    
    
      /**
       * SAFETY
       */
    
      .safety .section-text { margin-block-end: 80px; }
    
      .safety-list { grid-template-columns: repeat(4, 1fr); }
    
    }